/**
 * twitter styles
 */

.twitter {
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    padding: 0 0 0 2rem;

    background: transparent url('../../../images/twitter.png') 0 0 no-repeat;
    background-size: 2rem;

    color: #1b2b34;
    font-weight: 700;
    text-decoration: none;
}
